body {
  font-family: "Monserrat", sans-serif;
}
.horizontal {
  border-style: none;
  border-top-style: dotted;
  border-color: rgb(51, 53, 50);
  border-width: 8px;
  width: 10%;
  margin: 2rem auto;
}
h3 {
  padding-bottom: 30px;
}
/* Sections */

.navbar-colour {
  background-color: #71c9ce;
}

/* navgation items */
.logo {
  height: 80px;
}
.navbar-layout {
  margin: 1rem;
}
.nav-item {
  padding-right: 15%;
}
.btn {
  margin: 1.5%;
}
.nav-font-color {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  background-color: #71c9ce;
}
/* what are you looking for */
.search {
  width: 60%;
  margin: 2.5% 0 0 15%;
}
.upload {
  margin-left: 80%;
}
#what-looking {
  padding-top: 10rem;
  margin: 0px 0px 10px 0px;
  align-items: center;
  text-align: center;
}
.whatlooking-text {
  margin: 0 0 0 0;
  padding-right: 25%;
}
.what-lookin-font {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 45px;
}

/* services */
#services {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 0 0 0;
}
/* banners */
.banner {
  padding: 2% 10% 2% 10%;
}
/* Lab Tests */
.lab-test-img {
  width: 15rem;
  height: 15rem;
}

/* Shop By Category */
#shopbycategory {
  padding-top: 20px;
}
.abc {
  padding-left: 8rem;
  padding-right: 10rem;
}

/* Upload Your Prescription */
#upload-your-prescription {
  margin: 7%;
  border-style: dashed;
  border-color: #c4e1fa;
  border-radius: 2%;
}
.upload-img {
  padding: 5%;
  width: 45%;
  margin-right: 30px;
  float: left;
}
.upload-down {
  margin: 0;
}
.upload-info {
  background-color: #c4e1fa;
}
.upload-steps-1 {
  text-align: left;
  padding: 5%;
}
/* Top products */
.card-img-top {
  height: 15rem;
}
#top-products {
  margin-bottom: 5rem;
}
/* footer */
#footer {
  background-color: #e3fdfd;
  padding: 50px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h3 {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  color: #666;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

ul.social-icons {
  list-style: none;
  margin: 10px 0;
  padding: 0;
}

ul.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

ul.social-icons li:last-child {
  margin-right: 0;
}
ul.social-icons a {
  color: #333;
  font-size: 20px;
  transition: 0.2s;
}
ul.social-icons a:hover {
  color: #007bff;
}
ul.payment {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.payment li {
  display: inline-block;
  margin-right: 10px;
  margin: 10px 20px 0px 0px;
  padding: 5 px;
}

ul.payment li:last-child {
  margin-right: 0;
}
p.copyright {
  color: #666;
  font-size: 14px;
  margin-top: 100px;
  text-align: center;
}

/* end */
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
  }
}

/* login page css */
.a-login {
  text-decoration: none;
}
.login-page {
  margin-top: 5rem;
  width: 100%;
  height: 100vh;
  display: inline-block;
  display: flex;
  align-items: center;
}
.form-right i {
  font-size: 100px;
}
/* end */
/* blogs css */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#Blogs {
  font-family: "Quicksand", sans-serif;
  display: grid;
  place-items: center;
  height: 100vh;
  margin-bottom: 100px;
}

.container-blog {
  display: flex;

  padding-top: 6rem;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
}
.blogs-img {
  max-width: 100%;

  object-fit: cover;
}

.card-blog {
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ece9e6;
  background: linear-gradient(to right, #ffffff, #ece9e6);
}

.card__body {
  padding: 1rem;

  flex-direction: column;
  gap: 0.5rem;
}

.tag {
  padding: 0.25em 0.75em;
  border-radius: 1em;
  font-size: 0.75rem;
}

.tag + .tag {
  margin-left: 0.5em;
}

.tag-blue {
  background: #56ccf2;
  background: linear-gradient(to bottom, #2f80ed, #56ccf2);
  color: #fafafa;
}

.tag-brown {
  background: #d1913c;
  background: linear-gradient(to bottom, #ffd194, #d1913c);
  color: #fafafa;
}

.tag-red {
  background: #cb2d3e;
  background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  padding: 1rem;
  margin-top: auto;
}

.user {
  gap: 0.5rem;
}

.user__image {
  border-radius: 50%;
}

.user__info > small {
  color: #666;
}
@media (max-width: 1028px) {
  #Blogs {
    text-align: center;
  }
}
/* end */
/* about css */
.section-margin {
  margin-top: 120px;
  margin-bottom: 120px;
}
#about {
  float: left;
  width: 100%;
}
.m-b-n30 {
  margin-bottom: -30px;
}
.service-layer-image {
  position: relative;
  height: 577px;
}

.about-image {
  max-width: 530px;
  float: left;
}
.service-layer-image .about-image-1 {
  -webkit-box-shadow: #959ea5 0px 0px 41px;
  box-shadow: #959ea5 0px 0px 41px;
  border-radius: 50px;
}
.service-layer-image .about-image-2 {
  position: absolute;
  right: 0px;
  top: 255px;
}
.mw-100 {
  max-width: 100% !important;
}
h2 {
  /*     font-family: "Vidaloka", serif; */
  font-weight: 600 !important;
  line-height: 1.2;
  color: #232324;
  font-size: 36px;
}
.about-content span {
  position: relative;
  margin-top: 20px;
  padding-bottom: 30px;
  display: block;
}
p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #8a8a8a;
  line-height: 2;
}

.m-b-30 {
  margin-bottom: 30px;
}

.section-heading {
  margin-bottom: 50px;
}
.section-heading h5 {
  color: #f56960;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 22px;
  text-transform: uppercase;
  display: inline-block;
}
.section-heading h2 {
  font-size: 48px;
  font-weight: 900;
  line-height: 1.1;
  text-transform: uppercase;
}

.title-icon-divider {
  color: #0791be;
  line-height: 1;
  position: relative;
  margin-top: 25px;
  display: flex;
}
.title-icon-divider:before,
.title-icon-divider:after {
  content: "....";
  display: inline-block;
  font-size: 37px;
  line-height: 0;
  letter-spacing: 3px;
}
.title-icon-divider [class*="fa-"] {
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.title-icon-divider ~ p {
  margin-top: 30px;
}
/* end */
/* cart ka css */
.cart {
  padding: 10%;
}

/* end */

/* profile */
.profile {
  padding: 10%;
  margin: auto;
}
/* end */
/* loader */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 9999;
}
#preloader img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
}
